.about{
    
    /* height:100vh; */
    background-image: url('../../../public/images/office.jpg');
    object-fit: cover;
   min-height: 70vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
  
padding: 3em;
box-sizing: border-box;

}

.about-text{
    width: min-content;
    min-width: min(600px,90vw);
}

.background{
    
    
}
