
.contact-section{
    width: min(80vw,450px);
    padding: 2rem 0;
    border-radius: 45%  10% 0px ; 
    margin: 0;
   right: 0;
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 97%);
}

.contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.contact{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width:100vw;
    margin: 0 auto;
    height: fit-content;
    padding: 3rem 0;
     color: white;
}
/* .contact-cards{
    width: min(350px , 80vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.text-field{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    
}
.para{
    padding: 1rem;
    margin: 1rems;
}
.card{
    margin: 20px;
    
  
}

@media  screen and (max-width:720px) {
    .contact{
        flex-direction: column;
        width:100vw;
        align-items:flex-end;

    }
    
}