.services{
    width: 80vw;
    margin: 0 auto;

}
.title{
    margin:2rem auto;
    width: max-content;
    color: white;
}
.services-section{
    padding: 3rem 0;
    background-color:#22303C;
}

.product-card:hover{
animation: scale .5s ease-in forwards;
}
.product-img{

width: 100%;
height: auto;
}
@keyframes scale {
    from{
        scale: 1;
    }
    to{
        scale: .9;
        opacity: .8;
    }
}